body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(1,118,195);
background: radial-gradient(circle, rgba(1,118,195,1) 0%, rgba(199,238,255,1) 77%, rgba(250,250,250,1) 100%);
    /* background-image: url('../Images/pexels-nitin-arya-1029141.jpg'); */
    /* background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%; */
    /* background-color: #d70000; */
}

.header {
    background-color: #0176c3;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

.nav {
    background-color: #004471;
    overflow: hidden;
}

.ulist {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.list {
    display: inline;
    margin: 0 15px;
}

/* .link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
} */

.nav2 {
    /* background-color: #0176c3; */
    text-align: right;
    padding: 10px;
    /* background-color:#004471 ; */
}

.logout {
    background-color: #0176c3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.mainbox {
    /* background-color: #ffffff; */
    /* opacity: 0.5; */
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-image: url('../Images/pexels-jess-bailey-designs-762686.jpg');
    background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
}

.footer {
    background-color: #0176c3;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
/* ... Previous CSS styles ... */

.link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.link:hover {
    color: #f6ff00; /* Change text color on hover */
}

.logout:hover {
    background-color: #ff0000; /* Darken the background color on hover */
}

/* ... Rest of the CSS styles ... */

/* Add more styles as needed */
